Clarify, how to handle cases where server or user-agent are not aware of profiles

On [public-dxwg-comments, Kam Hay Fung pointed out](https://lists.w3.org/Archives/Public/public-dxwg-comments/2018Aug/0002.html) that we need to make explicit how negotiation is handled when the user-agent or client are not aware of profiles. The DXWG CNEG meeting on 2018-09-12 discussed this and agreed on the following:
>We discussed those use cases, and preliminary agreed on the following behaviour:
> 1) If a user agent does not support profile negotiation and the server does, the server SHOULD return content using its default profile. In that case the server SHOULD also set the Content-Profile header in order to make caching more efficient.
> 2) If a user agent sends a request containing an "Accept-Profile" header to a server that does not understand profile negotiation, the server SHOULD ignore that header and will accordingly not send an "Content-Profile" response header. This is in line with [RFC 7230 § 3.2.1](https://tools.ietf.org/html/rfc7230#section-3.2.1) that states:
>
>    A proxy MUST forward unrecognized header fields unless the field-name
>    is listed in the Connection header field (Section 6.1) or the proxy
>    is specifically configured to block, or otherwise transform, such
>    fields.  Other recipients SHOULD ignore unrecognized header fields.
>    These requirements allow HTTP's functionality to be enhanced without
>    requiring prior update of deployed intermediaries.
>
> If a user agent sends an "Accept-Profile" header but does not receive a "Content-Profile" header, it should take this as a sign that the server does not understand profiles and that the profile of the returned content is unspecified.


> we need to make explicit how negotiation is handled when the user-agent or client are not aware of profiles. 

We probably want to decide on the general algorithm also, before we write it out in spec format. Might be more complex than other dimensions because profiles are composable.

> > 1. If a user agent does not support profile negotiation and the server does, the server SHOULD return content using its default profile.

...for the negotiated content type.

(Also, "default profile" could be "default combination/set of profiles".)

I would say that, for me, this spec is in the first place about a server describing the profiles a representation conforms to; only in the second place it is about negotiating them. So these cases might come quite naturally.

> In that case the server SHOULD also set the Content-Profile header in order to make caching more efficient.

Indeed, as per the above.

> > If a user agent sends an "Accept-Profile" header but does not receive a "Content-Profile" header, it should take this as a sign that the server does not understand profiles and that the profile of the returned content is unspecified.

:+1: captured perfectly


> I would say that, for me, this spec is in the first place about a server describing the profiles a representation conforms to; only in the second place it is about negotiating them. So these cases might come quite naturally.

This I don't quite understand. I always thought that the I-D was more about the negotiation and less about profile description. Can you expand a bit on this?

> I always thought that the I-D was more about the negotiation and less about profile description.

Sorry, I used the wrong term, should have been:

> > I would say that, for me, this spec is in the first place about a server INDICATING the profiles a representation conforms to

Like with content types, the first function is "this document is JSON", and only at the second level "I prefer XML".
